.carousel-image {
    max-height: 600px;
}

.course {
    height: 180px;
    width: 500px;

}

.bonus img {
    height: 400px;
}

.bonus {
    background-color: #F1F1F1;
}

.faq {
    width: 60%;
}

.brands img {
    height: 25px;
}