.bonus {
    background-color: #F1F1F1;
}

.faq {
    width: 70%;
}

.view {
    text-decoration: none;
    color: #F1F1F1;
}



footer {
    background-color: #161616;
}

.brands img {
    height: 25px;
}

.social-link {
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;

}

.fa-brands {
    color: aliceblue;
    padding: 10px;
}